.author_{
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
}

.p_1{
	color: red;
}

.name_1{
	color: red;
}

.author_img{
	margin: 10px;
	height: 250px;
	width: 250px;
}

.aut{
	color: black;
	text-align: center;
	font-size: 20px;
	background-color: blue;
}
